<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
    	© 2018 - Site Built By C0D1NGD0J0
      <a href="github.com/c0d1ngd0j0">Github</a>
    </p>
  </div>
</div>
<% if(currentuser) {%>
	<a href="/stories/new" id="back-to-top" class="btn btn-sm btn-bckToTop" role="button">
		<i class="fa fa-plus"></i>
	</a>
<% } %>