<div class="container">
	<% include ../flash/success %>
</div>

<header id="header" class="header">
	<div class="header-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-text">
						<h1>Welcome to StoryTeller</h1>
						<% if(!currentuser){ %>
							<p><span><a href="/signup" class="btn btn-danger">SignUp</a></span></p>
						<%}%>
					</div>
				</div>
			</div>
		</div><!--/container-->
	</div><!--/overlay-->
</header><!-- /header -->